{% extends "base.html" %} {% block content %}
<h1>
  {{ title }}
</h1>
{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{{ obj.get_absolute_url }}"> {{ obj.title }} </a><small>
            {{ obj.timestamp | timesince }}
          </small>
        </h5>
        <p class="card-text">
          {{ obj.content | linebreaks }}
        </p>
        <a href="{{ obj.get_absolute_url }}" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock content %}